<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ppx.dailystudy">

    <!-- android:sharedUserId="android.uid.system" -->
    <!-- //所有手机需要的权限，蓝牙功能才能正常使用 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 除了BLUETOOTH和BLUETOOTH_ADMIN权限外，还将以下内容添加到您应用的清单文件中，以使用蓝牙连接和配对API： -->
    <!-- 添加打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.things.permission.MANAGE_BLUETOOTH" /> <!-- //部分手机（如小米等）需要将下面两个权限添加进去，蓝牙功能才能正常使用 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于收集用户的位置信息如果是Android9 API28 或更低版本 则声明ACCESS_COARSE_LOCATION权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <!-- 尝试解决车机与红米5蓝牙连接不弹框问题 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 监听系统开机的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 添加读取通讯录权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 手机振动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 不知道这个权限在百度地图的sdk开发中的一定需要的，事实证明这个权限在百度地图的获取经纬度里面不是必须的 -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:networkSecurityConfig="@xml/network_security_config">

        <service
            android:name=".chap13advancedtechniques.LongRunningService"
            android:enabled="true"
            android:exported="true"></service>
        <!-- 添加一个百度地方的API_KEY -->
        <!-- 这里需要注意一下，在申请AK的时候，一定要项目名称和报名和申请填入的一致，要不然地图显示不出来 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="WhkwAHAopYX9hDh9HecpHiqvX58GpIKj" />

        <activity
            android:name=".test.activity.TestCustomizeViewActivity"
            android:label="@string/app_name"
            android:theme="@style/FruitActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|screenSize|screenLayout|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".test.activity.MenuResourcesActivity" />
        <activity android:name=".test.activity.TestFinishFunction" />
        <activity android:name=".broadcast.ForceOffLineActivity" />
        <activity android:name=".multimedia.NotificationLayoutActivity" />
        <activity android:name=".chap12materialdesign.CollaspcingToobarActivity" />
        <activity android:name=".test.activity.TestLifeCircleActivityB" android:launchMode="singleInstance" />
        <activity android:name=".test.activity.TestLifeCircleActivityC" />

        <receiver
            android:name=".broadcast.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".chap10service.DownLoadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".chap10service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".chap10service.ForeService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".chap10service.MyIntentService"
            android:enabled="true"
            android:exported="true" /> <!-- 百度地图的service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <provider
            android:name=".contentprovider.MyContentProvider"
            android:authorities="com.ppx.dailystudy.contentprovider"
            android:enabled="true"
            android:exported="true" /> <!-- 拍照片用的哟 -->
        <!-- name固定值，authorities就是FileProvider.getUriForFile的第二个参数，要一直，他才知道是在这里provider里面找数据 -->
        <!-- exported，是否可导出，grantUriPermissions，授权uri -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ppx.dailystudy.multimedia.takecameraorphoto"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>